<div class="row clearfix">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Calories Consumed</h3>
      </div>
      <div class="panel-body">
        <!-- ## code for calories consumed -->
        <%= link_to "Enter Food", foods_path %>

        foods eaten
        <% @foods.each do |food| %>
          <% if food.user_id == @user.id %>
          <%= food.name %>
          <% end %>
        <% end  %>
        <!-- # code for each food added -->
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Calories Burned</h3>
      </div>
      <div class="panel-body">
        <!-- # code for calories burned -->
        <%= link_to "Enter Exercise", exercises_path %>
        <!-- # code for each exercise added -->
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
