

<table class="table table-striped table-hover ">

  <tbody>
    <tr class="danger">
      <td>  <%= link_to food.food, food_path(food), class: "foods" %></td>
      <td>  <%= food.calories %> cals</td>
    </tr>
  </tbody>
</table>
