<div class="col-md-5">

<h1>Exercise</h1>

<ul class="list-unstyled">
  <%= render(@exercises) %>
</ul>

<%= link_to "Add a new exercise", new_exercise_path, :class => "btn btn-success btn-sm" %>
</div>
